
.preview{
  width: 200px;
  height: 100px;
background-color: #fff;
box-shadow:5px 5px 5px #c4c8ca;
}
.preview .preview-icon{
  text-align: center;
  line-height: 100px;
}
.Overview-main .preview-content{

  padding: 30px  20px 0 0;
text-align: right;
}
.preview-content .preview-sum{
   color: #1976D2;
   font-weight: 700;
 }
 .preview-content .preview-title{
  margin-top: 10px;
 }
 .Overview-main .chart{
  width: 450px;
  height: 300px;
background-color: #fff;
box-shadow:5px 5px 5px #c4c8ca;
   margin-top: 20px;
 }